h2, p, h4, h5, h6{
    font-family: 'PoppinsLight';
}

section{
    padding: 30px 50px;
}

.requisitos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-requisitos{
    width: 30%;
}

#relaxar{
    display: flex;
    align-items: center;
}

#cadeado{
    width: 240px;
}

#flexivel{
    width: 240px;
}

#beneficios{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.beneficio{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.beneficio img{
    width: 250px;
    height: 220px;
    margin-bottom: 20px;
}

.beneficio p{
    font-size: 18px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-device-width: 768px) {
    .requisitos{
        flex-direction: column;
    }

    #beneficios{
        flex-direction: column;
    }

    .beneficio img{
        width: 160px !important;
        height: 40% !important;
    }

    .itemrequisito{
        padding: 20px;
    }

    .img-requisitos{
        width: 50%;
    }

    .beneficio p{
        margin-bottom: 50px;
    }

    #relaxar{
        flex-direction: column;
    }

    #relaxar img{
        width: 50%;
        margin-bottom: 40px;
    }

    .info{
        flex-direction: column;
    }

    .info img{
        margin-bottom: 10px;
    }

    #autorizado img{
        width: 50%;
    }

    #relaxar img{
        width: 70%;
    }
}