@font-face { font-family: PoppinsLight; src: url("./font/FontsFree-Net-Poppins-Light.ttf"); } 

* { margin: 0; padding: 0; }

html, body {
    font-family: 'DM Sans';
    width: 100%;
}

html{
    width: 100%;
}

h2, h3, h4{
    font-family: 'DM Sans';
}

header{
    justify-content: center;
    text-align: center;
    
}

#alternar, #hamburguer{
    display: none;
}

.dropAtendimento{
    background-color: rgb(100,54,84, 0.95) !important;
}

#header-options{
    background-color: #643654;
    color: white;
    font-weight: bold;
    padding: 20px;
    
    float: none;
}

#header-img{
    width: 40px;
}

span{
    font-family: 'PoppinsLight';
}

#header-logo{
    background-color: #643654;
    position: absolute;
    top: 12px;
    left: 10px;
    color: white;
    font-family: 'PoppinsLight';
    font-size: 14px;
}

#options{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white !important;
}

.menu{
    margin: 20px;
}

.dropdown-item:hover{
    background-color: rgb(100, 54, 84) !important;
}

#descricao{
 
    font-size: 18px;
}

#dados{
    text-align: justify;
}

#opcoesAtendimento{
    display: none;
}

#opcoesAtendimento a{
    text-align: left;
}

#sobre-mim{
    padding: 30px 50px;

    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

#servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #643654;
    padding: 40px 70px;
    color: white;
    text-align: center;

    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

#servicos-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 75px;
    align-items: center;
}

.servico{
    margin: 0 60px 60px;

}

.servico-img{
    width: 160px;
    margin-bottom: 10px;
}

.servico-descricao{

    padding: 10px;

    border-radius: 5px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    
}

#foto-dani{
    width: 35%;
    margin-right: 30px;
    float: left;
}

#saiba-mais{
    background-color: white;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    color: #643654;
    border-radius: 5px;
    margin-top: 15px;
}

hr{
    display: none;
}

#seta{
    position: fixed;
    width: 20px;
    right: 20px;
    bottom: 20px;
}

@media screen and (max-device-width: 768px) {

    hr{
        display: block;
    }

    #options{ 
        text-align: left;
        display: block;
        
    }

    #hamburguer{
        display: block;
    }

    #alternar:checked ~ #options{
        margin-top: 20vh;
        /*position: relative;
        right: 0 */;
        height: 90vh; 
        transition: all 1s;
        overflow: hidden;
    }

    .dropAtendimento{
        background-color: rgb(180,131,156, 0.1) !important;
    }

    .menu{
        font-size: 32px;
        font-weight: 100;
    }


    #alternar:not(:checked) ~ #options{
        height: 0px;
        transition: all 1s;
        overflow: hidden;
        /* 
        position: relative;
        right: -100%;
        */
    }

    html, body{
        width: 100%;
    }

    #header-options{
        padding: 15px 0;
        display: inline-flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    .menu{
      display: block;

    }

    header{
        display: flex;
        flex-direction: column;
    }

    #header-logo{
        position: absolute;
        top: 12px;
        left: 10px;
        float: none;
        display: inline-block;
       
    }

    #foto-dani{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    #ler-mais{
        align-items: center;
    }

    #img-footer-logo{
        width: 100%;
    }

    .foot-div:nth-child(2){
        margin: 0;
    }

    #dados{
        margin-bottom: 20px;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }